@font-face {
  font-family: 'Mont-SemiBold';
  src: url('../../../../public/fonts/Mont-SemiBold.otf');
}

@import '../../styles/variables.scss';

.base-button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: $accent;

  font-family: "Mont-SemiBold", sans-serif;
  font-size: 0.88rem;
  font-weight: 700;
  line-height: 21px;
  color: $white;

  cursor: pointer;
  border: 1px solid $accent;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.base-button-hover {
  &:hover {
    box-shadow: 0px 3px 13px 0px $shadow;
  }
}

.base-class--active {
  background-color: $white;
  color: $accent;
  border: 1px solid $elements;
}