@import '../../styles/variables.scss';

.backButton {
  &__container {
    display: flex;
    align-items: center;
    gap: 4px;
  
    width: fit-content;

    font-family: 'Mont-regular';
    font-size: 0.75rem;
    font-weight: 700;
  
    color: $secondary;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
  
    margin-right: 8px;
  }
}
