@import '../../shared/styles/mixin.scss';
@import '../../shared/styles/variables.scss';

.product_details {
  @include pageGrid();
  width: 100%;
  max-width: 1184px;
  margin-top: 24px;
  margin-bottom: 64px;

  @include onTablet {
    margin-top: 32px;
  }

  @include onDesktop {
    margin-top: 56px;
    margin-bottom: 80px;
  }

  &__path {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.block {
  &_top {
    @include element-full-width-grid;
  }
}

.block_info {
  font-size: 0.75rem;
  font-weight: 600;
  color: $secondary;

  grid-column: span 4;

  @include onTablet {
    grid-column: 8 / -1;
  }

  @include onDesktop {
    grid-column: 14 / -1;
  }

  &__information {
    @include onTablet {
      grid-column: 8 / -1;
    }

    @include onDesktop {
      grid-column: 14 / -1;
    }
  }
}

.block_about {
  @include element-full-width-grid;

  @include onDesktop {
    grid-column: 1 / 13;
  }
}

.block_tech {
  @include element-full-width-grid;

  @include onDesktop {
    grid-column: 14 / 25;
  }
}

.span {
  vertical-align: middle;
  font-size: 0.75rem;
  font-weight: 600;
  color: $secondary;
  margin-right: 8px;
}

.icon {
  display: inline-block;
  vertical-align: middle;

  margin-right: 8px;
}

.goback_button {
  margin-top: 24px;
}

.section_image {
  &__title {
    margin-top: 16px;
    @include style-primary-title;
  }
}

.recommended {
  grid-column: 1 / -1;
}