@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixin.scss';

.aside {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  font-family: 'Mont-bold';
  font-weight: 800;

  background-color: $white;

  transition: transform 0.3s linear;
  transform: translateX(-100%);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $elements;
  }

  &__bottom {
    display: flex;
    box-shadow: 0px -1px 0px 0px $elements;
  }
}

.active {
  transform: translateX(0);
}

.logo {
  padding-left: 16px;
}

.close_menu_button {
  @include flex-justify-center-align-center;
  width: 48px;
  height: 48px;

  border: none;
  border-left: 1px solid $elements;

  background-color: $white;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 24px;
  height: calc(100vh - 48px);
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__link {
    position: relative;
    display: block;

    width: fit-content;
    margin: 0 auto;
    padding: 8px 0;

    font-size: 0.75rem;
    line-height: 11px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $secondary;

    overflow: hidden;
  }
}

.bottom__link {
  position: relative;
  @include flex-justify-center-align-center;

  box-shadow: 1px 0px 0px 0px $elements;
  width: 100%;
  height: 64px;

  overflow: hidden;
  transition: color 0.3s linear;

  &::after {
    @include pseudo-element-after;
  }

  &.bottom__link_active::after {
    height: 3px;
    transform: translateX(0);
  }
}
