@import '../../shared//styles/variables.scss';
@import '../../shared/styles/mixin.scss';

.loader {
  @include element-full-width-grid;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &_item {
    border: 8px solid #f3f3f3;
    border-top: 8px solid $accent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}