@font-face {
  font-family: 'Mont-Bold';
  src: url('../../../public/fonts/Mont-Bold.otf');
}

@font-face {
  font-family: 'Mont-Regular';
  src: url('../../../public/fonts/Mont-Regular.otf');
}

@font-face {
  font-family: 'Mont-SemiBold';
  src: url('../../../public/fonts/Mont-SemiBold.otf');
}

@import '../../shared/styles/variables.scss';
@import '../../shared//styles/mixin.scss';

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  grid-column: span 4;
  width: 100%;
  height: 100%;
  // min-width: 250px;
  border: 1px solid $elements;
  border-radius: 8px;
  background-color: $white;
  padding: 32px;

  @include onTablet {
    grid-column: span 6;
  }

  @media (min-width: 800px) {
    grid-column: span 4;
  }

  @include onDesktop {
    grid-column: span 6;
  }

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.photo {
  display: block;
  width: 100%;
  height: 196px;
  object-fit: contain;
  margin: 0 auto 8px;
}

.header {
  font-family: 'Mont-Regular', sans-serif;
  font-size: 0.88rem;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  margin: 8px 0;
  color: $primary;
  padding-top: 16px;
}

.price {
  align-items: center;
  font-size: 1.38rem;
  margin: 0 0 8px;
}

.actual {
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 800;
  line-height: 31px;
  color: $primary;
  padding-right: 8px;
}

.preliminary {
  font-family: 'Mont-Regular', sans-serif;
  font-weight: 500;
  color: $secondary;
  line-height: 28px;
  text-decoration: line-through;
}

.line {
  border-bottom: 1px solid $elements;
}

.information {
  padding: 8px 0;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  line-height: 15px;
  margin: 8px 0;
}

.text {
  font-family: 'Mont-SemiBold', sans-serif;
  font-weight: 600;
  color: $secondary;
}

.value {
  font-family: 'Mont-Bold', sans-serif;
  font-weight: 700;
  color: $primary;
}

.button {
  width: 100%;
  padding-right: 8px;
}