@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixin.scss';

.header {
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;

  font-family: 'Mont-bold';
  font-weight: 800;

  box-shadow: 0px 1px 0px 0px $elements;
  background-color: $white;

  @include onTablet {
    gap: 16px;
  }

  @include onDesktop {
    gap: 24px;
  }

  &__nav_wrap {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &__logo {
    @include flex-justify-center-align-center;
    padding: 0px 16px;

    @include onDesktop {
      padding: 0px 24px;
    }
  }

  &__leftSide {
    display: flex;
    gap: 24px;
  }

  &__rightSideContainer {
    display: flex;
    flex-direction: row;
  }

  &__rightSide {
    display: none;

    @include onTablet {
      display: flex;
    }
  }

  &__menu_button {
    @include flex-justify-center-align-center;
    height: 48px;
    width: 48px;

    box-shadow: -1px 0px 0px 0px $elements;
    border: none;

    background-color: $white;
    cursor: pointer;

    @include onTablet {
      display: none;
    }
  }
}

