@import '../../styles/variables.scss';

.errorContainer {
  background-color: $white;
  box-shadow: 0 0 10px $shadow;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.errorText {
  margin-right: 16px;
}

.retryButton {
  background-color: $accent;
  border: none;
  border-radius: 25%;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d45a00;
  }

  .refreshIcon {
    fill: $white;
    width: 30px;
    height: 30px;
  }
}
