@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixin.scss';

@font-face {
  font-family: 'Mont-SemiBold';
  src: url('../../../public/fonts/Mont-SemiBold.otf');
}

.box {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  border-right: 1px solid $elements;
}

.input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-block: 1px;
  padding-inline: 10%;
  padding-right: 30px;

  box-shadow: -1px 0px 0px 0px $elements;
  border: none;

  display: flex;
  outline: none;

  color: $gray-primary;
  font-family: 'Mont-SemiBold';
  font-size: 0.53rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @include onDesktop {
    padding-inline: 24px;
    font-size: 0.88rem;
    padding-right: 50px;
  }  

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  &::placeholder {
    color: $icons;
    transition: opacity 0.3s ease; 
  } 

  &__select-open {
    background-color: $hover-and-bg;
  }
}

.icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  align-items: center;
  display: inline-flex;
  position: absolute;
  margin-right: 10%;
}

.hidden {
  display: none;
}
