@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin flex-justify-center-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pseudo-element-after {
  content: '';
      position: absolute;
      left: 0;
      bottom: 0;

      display: block;
      height: 3px;
      width: 100%;

      background-color: $primary;
      transition: transform 0.3s linear;
      transform: translateX(-101%);
}