// colors
$accent: #f86800;
$secondary-accent: #476df4;
$primary: #0f0f11;
$gray-primary: #313237;
$secondary: #89939a;
$icons: #b4bdc3;
$elements: #e2e6e9;
$hover-and-bg: #fafbfc;
$white: #ffffff;
$green: #27ae60;
$red: #eb5757;
$shadow: #17203166;
$secondary-shadow: #0000000d;

// grid
$cart-gap: 32px;
$gap: 16px;
$columns-mobile: 4;
$columns-tablet: 12;
$columns-desktop: 24;
$fixed-desktop-grid: 1136px; // 24 columns * 32px and 16px gap inbetween
$padding-mobile: 16px;
$padding-tablet: 24px;
