// add '@import 'styles/variables.scss'
// to use variables in other scss files

// colors
$accent: #f86800;
$secondary-accent: #476df4;
$primary: #0f0f11;
$secondary: #89939a;
$icons: #b4bdc3;
$elements: #e2e6e9;
$hover-and-bg: #fafbfc;
$white: #ffffff;
$green: #27ae60;
$red: #eb5757;
$shadow: #17203166;

// grid
$gap: 16px;
$columns-mobile: 4;
$columns-tablet: 12;
$columns-desktop: 24;
