@import '../../styles/variables.scss';

.notification {
  background-color: $white;
  box-shadow: 0 0 10px $shadow;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}
