@import '../shared/styles/mixin.scss';
@import '../shared/styles/variables.scss';

.main {
  width: 100%;
  padding-top: 72px;
  padding-bottom: 64px;
  background-color: $hover-and-bg;

  @include flex-justify-center-align-center;

  @include onTablet {
    padding-top: 88px;
  }

  @include onDesktop {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}
