@import '../shared/styles/reset.scss';
@import '../shared/styles/fonts.scss';
@import '../shared/styles/mixin.scss';

:root {
  font-family: 'Mont', sans-serif;
  scroll-behavior: smooth;
}

.main {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 64px;

  @include flex-justify-center-align-center;

  @include onTablet {
    margin-top: 32px;
  }

  @include onDesktop {
    margin-top: 56px;
    margin-bottom: 80px;
  }
}
