@import '../shared/styles/reset.scss';
@import '../shared/styles/fonts.scss';
@import '../shared/styles/mixin.scss';
@import '../shared/styles/variables.scss';

:root {
  font-family: 'Mont', sans-serif;
  scroll-behavior: smooth;
}

.main {
  width: 100%;
  min-height: calc(100vh - 321px);
  padding: 24px 16px 64px;
  // padding-bottom: 64px;
  background-color: $hover-and-bg;

  @include flex-justify-center-align-center;

  @include onTablet {
    min-height: calc(100vh - 144px);
    padding-top: 32px;
  }

  @include onDesktop {
    min-height: calc(100vh - 160px);
    padding-top: 56px;
    padding-bottom: 80px;
  }
}
