@import '../../shared/styles/mixin.scss';
@import '../../shared/styles/variables.scss';

.categories_menu {
  @include pageGrid();

  .category {
    &_item {
      grid-column: span 4;

      @include onDesktop {
        grid-column: span 8;
      }
    }

    &_link {
      display: block;
      width: 100%;
      height: 75%;
      overflow: hidden;
      border-radius: 15px;
      margin-bottom: 20px
    }

    &_image {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include hover(transform, scale(1.2))
    }

    &_title {
      font-family: 'Mont-bold';
      font-size: 24px;
      line-height: 140%;
    }

    &_desc {
      color: $secondary;
      font-family: 'Mont-regular';
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.categories_title {
  margin-bottom: 24px;
}
