@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixin.scss';

.box {
  padding: 20px;

  &__slider {
    display: flex;
    gap: 16px;
    max-width: 1136px;

    transition: transform 0.3s linear;
  }
}

.container {
  overflow: hidden;
}

// .wrapper {
//   width: 212px;

//   @include onTablet {
//     width: 237px;
//   }

//   @include onDesktop {
//     width: 272px;
//   }
// }

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  border: 1px solid $secondary;
  padding: 10px;
  font-size: 2rem;
}