@import '../../shared/styles/mixin.scss';
@import '../../shared/styles/variables.scss';

.homepage {
  @include pageGrid();
  row-gap: 60px;

  margin-top: 24px;
  margin-bottom: 64px;
  width: 100%;
  max-width: $fixed-desktop-grid;
  padding-inline: $padding-mobile;

  @include onTablet {
    margin-top: 32px;
    padding-inline: $padding-tablet;
  }

  @include onDesktop {
    margin-top: 56px;
    margin-bottom: 80px;
    padding-inline: auto;
  }

  &__item {
    grid-column: 1 / -1;
  }
}
