@import '../../shared//styles/mixin.scss';
@import '../../shared/styles/variables.scss';

.content {
  &_container {
    @include pageGrid();
    width: 100%;
    max-width: 1184px;
    margin-top: 24px;
    margin-bottom: 64px;
    padding-inline: 16px;

    @include onTablet {
      margin-top: 32px;
      padding-inline: 24px;
    }

    @include onDesktop {
      margin-top: 56px;
      margin-bottom: 80px;
      padding-inline: auto;
    }

    &_item {
      grid-column: 1 / -1;
    }
  }
}
