@import '../../shared/styles/mixin.scss';
@import '../../shared/styles/variables.scss';

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin: 0;
    padding: 0;
    list-style: none;

    @include onTablet {
      gap: 32px;
      flex-direction: row;
    }

    @include onDesktop {
      gap: 64px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    height: 27px;
    width: fit-content;

    font-size: 0.75rem;
    line-height: 11px;

    letter-spacing: 0.48px;
    text-transform: uppercase;
    text-decoration: none;

    color: $secondary;
    overflow: hidden;

    &::after {
      @include pseudo-element-after;
    }

    &.nav__link_active::after {
      height: 3px;
      transform: translateX(0);
    }

    @include onTablet {
      height: 48px;
    }

    @include onDesktop {
      height: 64px;
    }
  }

  &.nav__link_active::after {
    transform: translateX(0);
  }
}
